body {
	background-color: black;

	color: white;
}

.header {
	background-image: url('../../../img/projects/levoyage/background_header.jpg');
	background-repeat: no-repeat;
	width: 1024px;
	height: 270px;
	margin: auto;
	padding-top: 70px;
	overflow: hidden;
}

.header-title {
	background-image: url('../../../img/projects/levoyage/header_title.png');
	background-repeat: no-repeat;
	width: 784px;
	height: 202px;
	margin: 0 auto 0 auto;
}

.header-subtitle {
	background-image: url('../../../img/projects/levoyage/header_subtitle.png');
	background-repeat: no-repeat;
	width: 525px;
	height: 61px;
	margin: 0 auto 50px auto;
}

.content {
	background-image: url('../../../img/projects/levoyage/background_content.jpg');
	background-repeat: repeat-y;
	width: 1024px;
	margin: auto;
	padding: 70px 0 70px 0;
}

.trailer {
	width: 640px;
	border: 1px solid white;
	margin: auto;
}

.long-description {
	width: 50%;
	margin: 50px auto 50px auto;
	text-align: center;
	font-size: 1em;
	font: 16px "Open Sans", sans-serif;
}

.availability {
	width: 30%;
	margin: 30px auto 0 auto;
	text-align: center;
	font: 16px "Open Sans", sans-serif;
}

.screenshots {
	width: 680px;
	margin: 20px auto 20px auto;
}

.screenshots img {
	width: 128px;
	height: 96px;
	border: 1px white solid;
}

.footer {
	background-image: url('../../../img/projects/levoyage/background_footer.jpg');
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 1024px;
	height: 200px;
	margin: auto;
	padding: 0;
	overflow: hidden;
}

.btn-facebook {
	float: right;
	position: relative;
	top: 50px;
	right: 100px;
}

.btn-facebook img {
	width: 64px;
	height: 64px;
}

